<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="./css/category.css">
    <script src="./assets/mui/js/mui.min.js"></script>
    <script src="./assets/zepto/zepto.min.js"></script>
    <!-- <script src="./js/jquery-1.12.2.js"></script> -->
    <script src="../mobile/js/common.js"> </script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./js/category.js"> </script>

</head>

<body>
    <header class="mui-bar mui-bar-nav my-header">
        <h1 class="mui-title">乐淘云购</h1>
        <a class="mui-icon mui-icon-arrowleft mui-pull-left" href="./index.html"></a>
        <a class="mui-icon mui-icon-search mui-pull-right"  href="search.html"></a>
    </header>
    <nav class="mui-bar mui-bar-tab my-footer">
        <a class="mui-tab-item mui-active" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon iconfont icon-daohanggouwuche"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <div class="category_content">
        <div class="category_left">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!-- <div id="category_inset">
                        <a href="javascript:;">
                            guccic
                        </a>
                    </div> -->
                    <ul id="category_inset" class="mui-clearfix">
                       
                    </ul>

                </div>
            </div>
        </div>
        <div class="category_right">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-clearfix category_rPic">
                        <!-- <li>
                            <a href="javascript:;">
                                <img src="./images/brand1.png" alt="">
                            </a>
                            <p>gucci</p>
                        </li> -->
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
    <script id="category_list" type="text/template">
    <% for(var i = 0;i<result.length;i++){ %>
        <!-- <a href="javascript:;" data-id="<%=result[i].id %>">
            <%=result[i].categoryName  %>
        </a> -->
        <li  data-id="<%=result[i].id %>">
            <a href="javascript:;" data-id="<%=result[i].id %>">
                <%=result[i].categoryName %>
            </a>
        </li>
        <% } %>
    </script>
    <script id="category_rPic" type="text/template">
        <% for(var i = 0;i<rows.length;i++){ %>
            
            <li>
                <a href="javascript:;">
                    <img src="<%=rows[i].brandLogo %>" alt="">
                </a>
                <p><%=rows[i].brandName %></p>
            </li>
            <% } %>
          <%  if(!rows.length){ %>
                <div class="Ninfo">哎哟不错 超屌的</div>
            <% } %>
        </script>
</html>